@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* I still can't make the input box grow. Maybe one day */
.input input {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 100%;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

a {
  text-decoration: none;
  color: rgb(61, 60, 57);
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  margin: 0 20px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px;
  background-color: #eeeeee;
}

.left-links {
  margin-left: 20px;
}

.right-links {
  margin-right: 20px;
}